body{
    background-image: url("images/achtergrond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    color: white;
}
#PF{
    float: right;
    max-width: 130px;
    border-radius: 50%;
    height: auto;
}
li > a{
    color: white;
}
section{
    background-color: rgb(0,0,0,0.5);
    margin-top: -15px;
}
h1{
    margin-bottom: 55px;
    text-align: center;
}
h2{
    text-decoration: underline;
    text-decoration-color: whitesmoke;
}
section > table{
    border: 3px white;
    border-style: outset;
    margin-top: 25px;
}
th{
    border: 2px dashed white;
    padding: 5px;
}
.onbekend{
    background-color: red;
}
thead{
    background-color: mediumblue;
}
